* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  color: #fff;
}

#header {
  width: 100%;
  height: 100vh;
  background-image: url(images/Hagley\ Rose\ Garden.jpg);
  background-size: cover;
  background-position: center;
}

.container {
  padding: 10px 5%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 140px;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 22px;
  position: relative;
  font-weight: bold;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #00ff22;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.8s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  color: black;
  margin-top: 15%;
  padding: 10px;
  padding-left: 30px;
  font-size: 30px;
  margin-left: 10%;
  margin-right: 53%;
  border: 5px solid black;
  background-color: rgba(248, 248, 248, 0.4);
  border-radius: 30px;
  transition: 0.5s;
}

.header-text span {
  transition: 0.5s;
}

.header-text:hover {
  background-color: rgba(175, 175, 175, 0.7);
}

.header-text:hover span{
  color: #45b12f;
  font-size: 60px;
  -webkit-text-stroke: 2px black;
}

.header-text h1 {
  font-size: 60px;
  margin-top: 20px;
}


/* ------------------------About---------------------- */

#about {
  padding: 80px;
  color:white;
  border-top: 4px solid #00ff22;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
}

.sub-title {
  font-size: 40px;
  font-weight: bold;
  color:white;
  text-align: center;
  padding-bottom: 20px;
}

.para {
  font-size: 22px;
  color: white;
  padding-bottom: 20px;
}

.tab-titles {
  display: flex;
  margin: 30px 0 40px;
}

.tab-links {
  margin-right: 50px;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab-links:hover {
  color: #00ff00;
}

.tab-links.active-link {
  color: #00ff00;
}

.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #00ff00;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab-links.active-link::after {
  color: #00ff00;
  width: 100%;
}

.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
  font-size: 18px;
  padding-top: 5px;
}

.tab-contents ul li span {
  color: #1eff00;
  font-size: 20px;
}

.tab-contents {
  display: none;
}

.tab-contents.active-tab {
  display: block;
}


/* --------------- Portfolio ----------------- */

#portfolio {
  padding: 50px 0;
  background-color: rgb(0, 0, 0);
  border-top: 4px solid #00ff22;
}


.work-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.work {
  color: white;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 30px;
  border: 2px solid rgb(110, 250, 110);
  display: block;
  transition: 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(20, 20, 20, 0.6), #027916);
  border-radius: 30px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 80px;
  text-align: center;
  font-size: 20px;
  transition: 0.7s;
}

.layer h3 {
  font-weight: 900;
  margin-bottom: 20px;
}

.layer a {
  margin-top: 25px;
  color:#ec3e75;
  text-decoration: none;
  font-size: 24px;
  line-height: 60px;
  background: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
  border: 5px solid rgb(30, 255, 0);
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 3px solid #838383;
  padding: 14px 50px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  background: rgb(231, 231, 231);
  font-size: 18px;
  transition: 0.5s;

}

.btn:hover {
  background: #ff004f;
  color: #fff;
}

/* --------------- Contact ----------------- */

#contact {
  border-top: 4px solid #00ff22;
}

.contact-left {
  padding-top: 70px;
  flex-basis: 35%;
  padding-left: 160px;
}

.contact-right {
  padding-right: 40px;
  padding-top: 50px;
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 30px;
}

.contact-left p a{
  color: white;
  font-size: 18px;
}


.contact-left p i {
  color: white;
  margin-right: 5px;
  font-size: 30px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 5px;
  color: white;
  display: inline-block;
  transition: 0.5s;
}

.social-icons a:hover {
  color:#00ff0d;
  transform: translateY(-5px);
}

.btn.btn2{
  display: inline-block;
  background: rgb(231, 231, 231);
  font-size: 18px;
  font-weight: bold;
  transition: 0.5s;
}

.btn.btn2:hover {
  background:#89f785;
  border-color: #00ff2a;
  font-size: 20px;
  color: rgb(0, 0, 0);
}



.contact-right form {
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background: lightgrey;
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 10px;
}

form .btn2{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#msg{
  color:rgb(114, 250, 101);
  margin-top: -28px;
  display: block;
  font-size: 20px;
}











  
  
 
